@using System.Security.Principal
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class=navigation>
	@if (User.Identity?.IsAuthenticated == true)
	{
		<div>
			<a href="/">public timeline</a> |
			<a href="/trending">trending page</a> |
			<a href="/@(User.Identity.Name)">my timeline</a> |
			<a href="/user/info">about me</a> |
			<a asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">logout [@(User.Identity.Name)]</a>
		</div>
	}
	else
	{
		<div>
			<a href="/">public timeline</a> |
			<a asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">login</a>
		</div>
	}
</div>