@using System.Security.Principal
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@if (Model.PageNumber == 1)
{
	<div>
	Previous @Model.PageNumber
	<a href=@(Model.PageUrl + "?Page=" + (Model.PageNumber + 1))>Next</a>
</div>
}
@if (Model.PageNumber > 1 && Model.PageNumber < Model.LastPageNumber)
{
	<div>
	<a href=@(Model.PageUrl + "?Page=" + (Model.PageNumber - 1))>Previous</a>
	@Model.PageNumber
	<a href=@(Model.PageUrl + "?Page=" + (Model.PageNumber + 1))>Next</a>
</div>
}
@if (Model.PageNumber == Model.LastPageNumber)
{
	<div>
	<a href=@(Model.PageUrl + "?Page=" + (Model.PageNumber - 1))>Previous</a>
	@Model.PageNumber
	Next
</div>
}