@page "/cheep/post"
@model Chirp.Web.Pages.SendCheepModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div class="cheepbox">
    <h3>What's on your mind @(User.Identity.Name)?</h3>
    <form method="OnPost">
        <input style="float: left" type="text" asp-for="Text">
        <input type="submit" value="Share">
    </form>
</div>